* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    font-family: 'PT Serif', serif;
}


.header {
    padding-top: 50px;
}
.header__title {
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
    letter-spacing: 5px;
    text-align: center;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.examples {
    margin-top: 100px;
}
.examples__item {
    background: #567;
    color: #fff;
    position: relative;
    width: 90%;
    margin-bottom: 20px;
    padding: 70px 20px 20px;
}
.examples__item:last-child {
    margin-right: 0;
}
.examples__title {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    font-size: 20px;
}
.examples__title_yellow {
    background: #ffef96;
    color: #000;
}
.examples__title_red {
    background: #c94c4c;
}
.examples__title_green {
    background: #82b74b;
}

@media (min-width: 992px) {
    .row {
        flex-direction: row;
    }
    .examples__item {
        margin-right: 30px;
        margin-bottom: 0;
    }
    .col-lg-1, 
    .col-lg-2,
    .col-lg-3, 
    .col-lg-4, 
    .col-lg-5, 
    .col-lg-6, 
    .col-lg-7, 
    .col-lg-8, 
    .col-lg-9, 
    .col-lg-10, 
    .col-lg-11, 
    .col-lg-12 {
        float: left;
    }

    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.3%;
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width: 66.66%;
    }
    .col-lg-9 {
        width: 74.99%;
    }
    .col-lg-10 {
        width: 83.33%;
    }
    .col-lg-11 {
        width: 91.66%;
    }
    .col-lg-12 {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {  
    .row {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .examples__item {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .examples__item:last-child {
        margin-bottom: 0;
    }
    .col-md-1, 
    .col-md-2,
    .col-md-3, 
    .col-md-4, 
    .col-md-5, 
    .col-md-6, 
    .col-md-7, 
    .col-md-8, 
    .col-md-9, 
    .col-md-10, 
    .col-md-11, 
    .col-md-12 {
        float: left;
    }
    .col-md-1 {
        width: 8.33%;
    }
    .col-md-2 {
        width: 16.66%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.3%;
    }
    .col-md-5 {
        width: 41.66%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33%;
    }
    .col-md-8 {
        width: 66.66%;
    }
    .col-md-9 {
        width: 74.99%;
    }
    .col-md-10 {
        width: 83.33%;
    }
    .col-md-11 {
        width: 91.66%;
    }
    .col-md-12 {
        width: 100%;
    }
}   